.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  height: 100%;
}
button {
  background: burlywood;
}
li {
  list-style: none;
}
p {
  font-size: large;
}
.Heading {
  display: flex;
  font-size: 60px;
  padding: 20px;
  width: 100%;
  margin: 0;
  justify-content: space-evenly;
}
.Divider {
  background: peru;
  margin-top: 10px;
  height: 10px;
}
.Main {
  font-size: 40px;
  padding: 20px 5px;
  line-height: 1.5em;
  position: relative;
}
.Avatar {
  border-radius: 20px;
  margin-top: 50px;
}
.intro {
  font-family: fantasy;
  font-size: xx-large;
}
.sales {
  background: rgb(167, 160, 138);
}
.sales:hover {
  background: #ef8c25;
  transition: 2s;
}
